{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Resultados da Mega-Sena {% endblock %}</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Último Resultado</h5>
            <p class="card-text">Concurso: <b>{{ concurso }}</b></p>
            <p class="card-text">Data: <b>{{datasorteio}}</b></p>
            <p class="card-text">Dezenas sorteadas: 
                <b>
                {% for row in dezenas %}
                <span class="btn btn-primary"> {{ row }} </span>
                {% endfor %}
                </b>
            </p>
        </div>
    </div>
    <br>
    <div class="card bg-light mb-3">
        <div class="card-header">Buscar Resultado</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">            
                    <input type="text" name="numero_concurso" placeholder="Informe o número do concurso" class="form-control"
                    value="{{ request.form['numero_concurso'] }}"></input>
                </div>
                <button type="submit" class="btn btn-primary">Consultar</button>
            </form>
        </div>
    </div>
   
{% endblock %}